
.star-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
  }
  
  .star {
    font-size: 2rem;
    cursor: pointer;
    color: #ccc;
  }
  
  .star.selected {
    color: gold;
  }
  